:root {
    --black: #181818;
    --white: #ffffff;
    --gray: #eeeeee;
    --gray-light: #fbfbfb;
    --font-body: 'PT Sans', sans-serif;
    --font-title: 'Libre Baskerville', serif;
}



body {

    font-family: var(--font-body);
    font-size: 16px;
    margin: 0;
    padding: 0;
}


.container {

    width: 90%;
    margin: auto;
}


/*nav*/

nav {

    display: flex;
}


nav div {
    display: flex;
    margin-top: 30px;
    gap: 140px;

}


#logo {

    width: 25px;
    height: auto;
}


#burger {
    display: block;
}


nav li {

    display: none;
}


/*header*/


header {

    height: 20%;
}


h1 {
    padding-top: 120px;
    text-align : center;
    margin: auto;
    font-family: var(--font-title);
}

header p {
    text-align: center;
}


header img {

    margin: auto;
    display: block;
    padding-top: 100px;
    padding-bottom: 150px;
    width: 300px;
    height: auto;
}




/*sections*/


section img {

    border-radius: 8px;
    margin-bottom: 10px;
}

#project1_desktop {

    display : none;
}

#project1_mobile {
    
    display: block;
    width: 100%;
    height: auto;
}


section p {

margin-top: 15px;  
margin-bottom: 50px;  
display: block;
text-align: left;
}



#project2_desktop {

    display: none;
}


#project2_mobile {

    display: block;
    width: 100%;
    height: auto;
}


#btn1 {

    display: block;
    padding: 15px 80px;
    border: 1px solid var(--black);
    margin: auto;
    text-decoration: none;
    text-align: center;
    color: var(--black);
    border-radius: 4px;
    font-size: 18px;
}

#section3 {
    margin-top: 80px; 
    background-color: var(--gray);
    padding-bottom: 60px;
    margin-bottom: 80px;
   }


#section3 img {
    width: 80vw;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    
}


#btn2 {

display: block;
background-color: var(--black);
padding: 15px 80px;
border: none;
margin: auto;
text-decoration: none;
text-align: center;
color: var(--white);
border-radius: 4px;
font-size: 18px;   
}

#section3 div {

    padding: 0 20px;
}


#section3 h2 {

    font-family: var(--font-title);
    white-space: pre-line;
}

/*footer*/

footer {

    display: flex;
    flex-flow: wrap;
}


footer svg {
    width: 6vw;
    height: auto;
    
    
    
}


footer a {
    
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    border: var(--gray) solid 1px;
    padding: 20px 40px;
    margin-right: 10px;
    margin-bottom: 20px;
    
       
    
}

footer div {

    padding-bottom: 50px;
    margin-left: 10px;
}







