@media (min-width: 800px) { 


.container {
    width: 60%;
}


/*nav*/


#burger {
    display: none;
}


nav div {
    display: flex;
    gap: 260px;

}


nav li {

    list-style: none;
    display: inline-block;
}


nav a {

    
    color: var(--black);
    margin-right: 40px;
    text-decoration: none;
    font-size: 14px;

}


/*header*/

header {

    height: 30%;
}

h1 {

    width: 600px;
}


header img {

    padding-top: 250px;
    width: 400px;
    height: auto;
}


/*sections*/


section img {

    border-radius: 8px;
}

#project1_desktop {

    display : block;
    width: 100%;
    height: auto;
    
    }


#project1_mobile {

    display: none;
}
    
section p {

    display: block;
    z-index: 100;
    width: 230px;
    margin-top: -90px;
    margin-left: 20px;
    font-size: 14px;

    }
    











}