@media (min-width: 800px) { 


.container {
    width: 60%;
}


/*nav*/


#burger {
    display: none;
}


nav div {
    display: flex;
    gap: 260px;

}


nav li {

    list-style: none;
    display: inline-block;
}


nav a {

    
    color: var(--black);
    margin-right: 40px;
    text-decoration: none;
    font-size: 14px;

}


/*header*/

header {

    height: 30%;
}

h1 {

    width: 600px;
}


header img {

    padding-top: 250px;
    width: 400px;
    height: auto;
}


/*sections*/

section img {

    margin-bottom: 40px;
}



#project1_desktop {

    display : block;
    width: 100%;
    height: auto;
    
    }


#project1_mobile {

    display: none;
}
    
section p {

    z-index: 100;
    width: 230px;
    margin-top: -110px;
    margin-left: 20px;
    font-size: 14px;

    }

    #section1 p {

    margin-top: -125px;
    }
    


    #project2_mobile {

        display: none;
    }


    #project2_desktop {

        display : block;
        width: 100%;
        height: auto;  
    }


    #btn1 {

        display: none;
    }
    


    
#btn2 {

    display: inline;
    padding: 15px 30px;   
   }


#section3 {

    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
    
}

   #section3 img {
    width: 20vw;
    height: auto;
    margin-right: 30px;
    
}


#section3 div {
    margin-right: 160px;
    padding: 0;
}

#section3 h2 {
margin-bottom: 50px;
font-size: 35px;
}


/*footer*/


footer svg {
    width: 1.5vw;
    height: auto;
    }

footer a {
  
    border: none;
    padding: 0;
    text-decoration: none;
    text-align: right;
    margin-right: 20px;
    
}


footer div {
    display: block;
    margin-left: 480px;
    margin-right: -480px;
}













}